$chat_bg_color: grey;
$chat_border_color: darkgrey;

.chat__users-list {
    display: inline-block;
    float: left;
    height: 100%;
    width: 20%;
    border: 1px solid $chat_border_color;
    border-radius: 8px 0 0 8px;
    background: $chat_bg_color;

    ul {
        padding: 3% 0 3% 7%;

        li:first-child:last-child {
          margin: 5% 0 5% -7%;
          border-radius: 4px;
        }

        li:first-child:not(:last-child) {
          margin-top: 5%;
          border-radius: 4px 4px 0 0;
        }

        li:last-child:not(:first-child) {
          margin-bottom: 5%;
          border-radius: 0 0 4px 4px;
        }

        li {
            margin-left: -7%;
            padding: 2% 7%;
            list-style: none;
            background: #5cb85c;
            border: 1px solid $chat_border_color;
        }

        li:hover {
            font-weight: bold;
            background: white;
            cursor: pointer;
        }
    }
}

.chat__chats-list {
    display: inline-block;
    width: 79.9%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    border: 1px solid $chat_border_color;

    .chats__headers {
      padding: 0.8% 0 0 0.5%;
      border-radius: 0 8px 0 0;
      background: #E8E8E8;

      .chat__header {
        display: inline-block;
        line-height: 2;
        text-align: center;
        padding: 0 10px;
        // margin-right: 0.5%;

        border: 1px solid $chat_border_color;
        border-radius: 0 5px 0 0;
        background: $chat_bg_color;

        .chat__header--active {
        }

        .chat__header--main {
        }
      }
      
      .chat__header:hover {
        font-weight: bold;
        background: white;
        cursor: pointer;
      }
      
    }

    .chat__body {
    }
}

.chat__scroll-headers {
  float: right;
  
  span {
  }
  
  span:hover {
    color: white;
    cursor: pointer;
  }
}
