=render "shared/buttons_container"
=link_to("Поставленные задачи", user_tasks_path(user_id: @current_user.id, manager: true), class: "btn btn-success submited_tasks_link", remote:true)
=link_to("Полученные задачи", user_tasks_path(user_id: @current_user.id, executor: true), class: "btn btn-success recived_tasks_link", remote:true)
=link_to("Отфильтровать", user_tasks_path(user_id: @current_user.id, filter_tasks: true), class: "btn btn-success filter_tasks_link", remote:true)
#day_tasks
  -if @manager.present?
    #manager_tasks
      %h4 Поставленные задачи:
      =paginate @manager, remote:true
      .check_box_wrapper
        .check_box_archived_tasks.manager_tasks_list
          %span
            %input(type="checkbox"){checked: (with_archived) ? true : false }
            %span Включая закрытые
      %ul.list-group
        -@manager.each do |t| 
          %li.list-group-item.manager_tasks_list{class: (t.status == "archived") ? "hidden" : ''}
            =link_to([@current_user, t], class: "task_name",title: "Исполнитель: #{t.executor.name}", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("%Y-%m-%d %H:%M")             
              =link_to_if(t.status != "archived", "", edit_user_task_path(@current_user, t, with_archived: (t.status == "archived") ? true : false), class: "edit_task_link glyphicon glyphicon-pencil", remote:true)
              =link_to("", user_task_path(@current_user, t, all_tasks:true, manager:true), class: "destroy_task_link glyphicon glyphicon-remove", data: {confirm: "Удалить задачу?"}, method: :delete, remote:true)
      :coffee
        $(".check_box_archived_tasks").click( ->
          showElements(".list-group-item", this)
        )
    -if @request == "manager" and @manager.blank?
      %h3 Нет поставленных задач
  -if @executor.present?
    #executor_tasks
      %h4 Полученные задачи:
      =paginate @executor, remote:true
      .check_box_wrapper
        .check_box_archived_tasks.executor_tasks_list
          %span
            %input(type="checkbox")
            %span Включая закрытые
      %ul.list-group
        -@executor.each do |t|
          %li.list-group-item.executor_tasks_list{class: (t.status == "archived") ? "hidden" : ''}
            =link_to([@current_user, t], class: "task_name",title: "Постановщик: #{t.manager.name}", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("%Y-%m-%d %H:%M")
      :coffee
        $(".check_box_archived_tasks").click( ->
          showElements(".list-group-item" ,this)
        )
    -if @request == "executor" and @executor.blank?
      %h3 Нет полученных задач
  -if @render_filter
    #filter_task_form_container
      =form_for(:tasks, url: user_tasks_path(),html: {class: "form-horizontal", role: "form", id: "filter_task_form"}, method: :get, remote:true) do |t|
        .form-group
          =t.label "Название задачи:", for: "filter_task_name", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.text_field :name, placeholder: "Введите название задачи", id: "filter_task_name", class: "form-control"
        .form-group
          =t.label "Вы:", for: "task_your_status", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.select(:your_status, "<option>Менеджер</option><option>Исполнитель</option>".html_safe, {prompt: "Выберите"}, {id: "task_your_status", class: "form-control"})
        .form-group.executor_group
          =t.label "Ответственный:", for: "filter_task_select_executor", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.collection_select(:executor_id, @current_user.organization.users.reject{|x| x == @current_user}, :id, :name, {prompt: "Выберите исполнителя"}, {id: "filter_task_select_executor", class: "form-control"})
        .form-group.manager_group
          =t.label "Менеджер:", for: "filter_task_select_manager", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.collection_select(:manager_id, @current_user.organization.users.reject{|x| x == @current_user}, :id, :name, {prompt: "Выберите менеджера"}, {id: "filter_task_select_manager", class: "form-control"})
        .form-group
          =t.label "Статус:", for: "filter_task_status", class: "label-control col-xs-3 col-md-3 col-sm-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.select(:status, "<option>Не выполняется</option><option>В работе</option><option>Приостановлена</option><option>Выполнена</option><option>Принята</option><option>В архиве</option>".html_safe, {prompt: "Выберите"},{id: "filter_task_status", class: "form-control"})
        .form-group
          =t.label "Начиная с:", for: "tasks_filter_start", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.datetime_local_field :date_exec_start, id: "tasks_filter_start", class: "form-control"
        .form-group
          =t.label "Заканчивая до:", for: "tasks_filter_end", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
          .col-xs-7.col-sm-7.col-md-7.col-lg-7
            =t.datetime_local_field :date_exec_end, id: "tasks_filter_end", class: "form-control"
        /   
          .form-group
            =t.label "Начиная с:", for: "tasks_filter_start_date", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
            .col-xs-7.col-sm-7.col-md-7.col-lg-7
              =t.datetime_select :date_exec_start, prompt: { day: 'Day', month: 'Month', year: 'Year', hour: "xx", minute: "xx" }, html: {id: "tasks_filter_start_date", class: "form-control"}
        /    
          .form-group
            =t.label "Заканчивая до:", for: "tasks_filter_end_date", class: "label-control col-xs-3 col-sm-3 col-md-3 col-lg-3"
            .col-xs-7.col-sm-7.col-md-7.col-lg-7
              =t.datetime_select :date_exec_end, prompt: { day: 'Day', month: 'Month', year: 'Year', hour: "xx", minute: "xx" }, html: {id: "tasks_filter_end_date", class: "form-control"}
        .form-group
          .col-xs-2.col-sm-2.col-md-2.col-lg-2.col-xs-offset-3.col-sm-offset-3.col-md-offset-3.col-lg-offset-3
            =t.submit "Отправить", class: "btn btn-primary form-control"
    :coffee
      $(document).ready( ->
        $("#task_your_status").change( ->
          $(".executor_group, .manager_group").addClass("hidden").removeClass("visible")
          $(".executor_group").toggleClass("visible hidden") if $("#task_your_status option:selected").text() == "Менеджер"
          $(".manager_group").toggleClass("visible hidden") if $("#task_your_status option:selected").text() == "Исполнитель"
        )
        $(".executor_group, .manager_group").addClass("hidden")
      )
  -if @filter_tasks.present?
    #filter_tasks
      %h4 Отфильтрованные задачи:
      %ul.list-group
        =paginate @filter_tasks, remote:true
        -@filter_tasks.each do |t| 
          %li.list-group-item{class: (t.manager == @current_user) ? "manager_tasks_list" : "executor_tasks_list"}
            =link_to([@current_user, t], class: "task_name", title: (@current_user == t.manager) ? "Исполнитель: #{t.executor.name}" : "Менеджер: #{t.manager.name}", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("%Y-%m-%d %H:%M")           
              =link_to_if(t.manager == @current_user && t.status != "archived", "", edit_user_task_path(@current_user, t), class: "edit_task_link glyphicon glyphicon-pencil", remote:true)
              =link_to_if(t.manager == @current_user, "", user_task_path(@current_user, t, all_tasks:true, manager:true), class: "destroy_task_link glyphicon glyphicon-remove", data: {confirm: "Удалить задачу?"}, method: :delete, remote:true)
-if @build_calendar
  :coffee
    calendar(ajax:true, month: $(".dropdown-togle-month").attr("mn"), year: $(".dropdown-togle-year").text())
