=render "shared/buttons_container"
=link_to("Поставленные задачи", user_tasks_path(user_id: @current_user.id, manager: true), class: "btn btn-success back_to_tasks", remote:true)
=link_to("Полученные задачи", user_tasks_path(user_id: @current_user.id, executor: true), class: "btn btn-success back_to_tasks", remote:true)
#day_tasks
  -if @manager.present?
    #manager_tasks_of_day
      %h4 Поставленные задачи:
      %ul.list-group
        =paginate @manager, remote:true
        -@manager.each do |t| 
          %li.list-group-item
            =link_to([@current_user, t], class: "task_name", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("%Y-%m-%d %H:%M")             
              =link_to("", edit_user_task_path(@current_user, t), class: "edit_task_link glyphicon glyphicon-pencil", remote:true)
              =link_to("", user_task_path(@current_user, t, all_tasks:true, manager:true), class: "destroy_task_link glyphicon glyphicon-remove", data: {confirm: "Удалить задачу?"}, method: :delete, remote:true)
  -if @request == "manager" and @manager.blank?
    %h3 Нет поставленных задач
  -if @executor.present?
    #executor_tasks_of_day
      %h4 Полученные задачи:
      %ul.list-group
        =paginate @executor, remote:true
        -@executor.each do |t|
          %li.list-group-item
            =link_to([@current_user, t], class: "task_name", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("%Y-%m-%d %H:%M")
    -if @request == "executor" and @executor.blank?
      %h3 Нет полученных задач
-if @build_calendar
  :coffee
    calendar(ajax:true, month: $(".dropdown-togle-month").attr("mn"), year: $(".dropdown-togle-year").text())
