=render "shared/buttons_container"
#create_task_form_container
  -if @current_user.organization.users.count == 1
    %h3 Необходимо пригласить пользователей в организацию. На данный момент некому давать задачи. 
  -else
    %div
      =form_for([@current_user, @current_user.tasks_from_me.build], html: {id: "create_task_form", class: "form-horizontal", role: "form", remote:true}) do |t|
        .form-group
          =t.label "Имя задачи", for: "input_task_name", class: "label-control col-xs-2 col-md-2 col-sm-2 col-lg-2"
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            =t.text_field :name, id: "input_task_name", class: "form-control"
        .form-group
          =t.label "Ответственный", for: "input_task_executor", class: "label-control col-xs-2 col-md-2 col-sm-2 col-lg-2"
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            =t.collection_select(:executor_id, @current_user.organization.users.reject{|x| x == @current_user}, :id, :name, {prompt: "Выберите ответственного"}, {if: "input_task_executor", class: "form-control"})
        .form-group
          =t.label "Дата выполнения", for: "input_task_date_exec", class: "label-control col-xs-2 col-md-2 col-sm-2 col-lg-2"
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            =t.datetime_local_field :date_exec, min: Date.today, id: "input_task_date_exec", class: "form-control", value: @date
        .form-group
          =t.label "Описание", for: "input_task_description", class: "label-control col-xs-2 col-md-2 col-sm-2 col-lg-2"
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            =t.text_area :description, id: "input_task_description", class: "form-control"
        .form-group
          .col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-lg-offset-2.col-xs-2.col-sm-2.col-md-2.col-lg-2
            =t.submit "Создать", class: "btn btn-primary create_task_button"
