=render "shared/buttons_container"
#day_tasks
  -if @tasks[:manager].present?
    #manager_tasks_of_day
      %h4 Поставленные задачи:
      %ul.list-group
        -@tasks[:manager].each do |t| 
          %li.list-group-item
            =link_to([@current_user, t], class: "task_name", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("Выполнить до: %H:%M")             
              =link_to("", edit_user_task_path(@current_user, t), class: "edit_task_link glyphicon glyphicon-pencil", remote:true)
              =link_to("", user_task_path(@current_user, t), class: "destroy_task_link glyphicon glyphicon-remove", data: {confirm: "Удалить задачу?"}, method: :delete)
  -if @tasks[:executor].present?
    #executor_tasks_of_day
      %h4 Полученные задачи:
      %ul.list-group
        -@tasks[:executor].each do |t|
          %li.list-group-item
            =link_to([@current_user, t], class: "task_name", remote:true) do
              %span
                =t.name
            %span.task_date_exec.list-group-item-text
              =t.date_exec.strftime("Выполнить до: %H:%M")