=render "shared/buttons_container"
#task_container
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      %h3.task_name
        =@task.name
    .col-md-12.col-lg-12.col-sm-12.col-xs-12
      .row.task_users
        .col-md-8.col-lg-8.col-sm-8.col-xs-8
          .task_manager 
            Постановщик: #{@task.manager.name}
        .col-md-4.col-lg-4.col-sm-4.col-xs-4
          .task_date_exec 
            Выполнить до: 
            %span.time
              #{@task.date_exec.strftime("%Y.%m.%d %H:%M")}
        .col-md-8.col-lg-8.col-sm-8.col-xs-8
          .task_executor 
            Исполнитель: #{@task.executor.name}
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %h4.task_description_header Описание
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .task_description_body<
        =@task.description
  #handle_task_form.col-lg-12.col-md-12.col-sm-12.col-xs-12
    =form_for(@task, url: handle_user_task_path(@current_user, @task),html: {role: "form", class: "form-horizontal", id: "task_handle_form"}, remote:true) do |t|
      .form-group
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          -if @task.manager == @current_user
            -if @task.status == "completed"
              .handler_button_container
                =t.submit "Принять работу", class: "btn btn-lg btn-success"
            -if @task.status == "completed"
              .handler_button_container
                =t.submit "Доделать", class: "btn btn-lg btn-success"
            -if @task.status == "finished"
              .handler_button_container
                =t.submit "Закрыть", :onclick => "reload_calendar()", class: "btn btn-lg btn-success"
          -if @task.executor == @current_user
            -if @task.status == "ready"
              .handler_button_container
                =t.submit "Начать", class: "btn btn-lg btn-primary"
            -if @task.status == "execution"
              .handler_button_container
                =t.submit "Приостановить", class: "btn btn-lg btn-primary"
            -if @task.status == "pause" or @task.status == "completed"
              .handler_button_container
                =t.submit "Возобновить", class: "btn btn-lg btn-primary"
            -if @task.status != "completed" and @task.status != "ready"
              .handler_button_container
                =t.submit "Завершить", class: "btn btn-lg btn-success"
