#day_tasks 
  -if @tasks[:manager].present?
    #manager_tasks_of_day
      %h4 Поставленные задачи:
      -@tasks[:manager].each do |t|
        %ul
          %li
            %span.task_name
              =t.name
            %span.task_date_exec
              =t.date_exec.strftime("Выполнить до: %H:%M")
            =link_to("подробнее", [@current_user, t], remote:true)
            =link_to("редактировать", edit_user_task_path(@current_user, t), class: "edit_task_link", remote:true)
  -if @tasks[:executor].present?
    #executor_tasks_of_day
      %h4 Полученные задачи:
      -@tasks[:executor].each do |t|
        %ul
          %li
            %span.task_name
              =t.name
            %span.task_date_exec
              =t.date_exec.strftime("Выполнить до: %H:%M")
            =link_to("подробнее", [@current_user, t], remote:true)