#edit_user_container
  .row
    #profile_container.col-md-6.col-lg-6.col-sm-6.col-xs-6
      %h1 Настройки профиля #{@user.name}
      .personal_info_container
        .avatar
          -if @current_user.option.try(:avatar)
            =image_tag(@current_user.option.avatar_url(:standard), alt: @current_user.name + "_avatar")
          -else
            =image_tag("#", alt: "empty_avatar", class: "empty_avatar")
        .task_info_container
          %span 
            Полученные задания: 
            =link_to @user.active_tasks_to_me.count, user_tasks_path(@user, executor:true)
          %br
          %span 
            Назначенные задания: 
            =link_to @user.active_tasks_from_me.count, user_tasks_path(@user, manager:true)
        =form_for(:option, url: user_option_path(@current_user), html: {class: "avatar_form col-md-12 col-lg-12 col-sm-12 col-xs-12"}, method: :patch) do |opt|
          %div
            =opt.label "Загрузите аватар: ", for: "label_avatar"
            =opt.hidden_field :avatar_cache
            =opt.file_field :avatar, id: "label_avatar"
          %div
            =opt.submit "Загрузить", class: "btn btn-sm btn-primary"
    #edit_user_invitation_container.col-md-6.col-sm-6.col-lg-6.col-xs-6.text-center
      -if @user.admin
        .invite_user_form
          %h4.text-left Пригласить пользователя в свою организацию
          =form_for(:invite_user, url: invite_user_path, html: {role: "form", class: "form-horizontal"}) do |u|
            .form-group
              =u.label "Email", for: "invite_email_input", class: "control-label col-md-2 col-sm-2 col-lg-2"
              .col-sm-4.col-md-4.col-lg-4.col-xs-4
                =u.email_field :email, id: "invite_email_input", class: "form-control"
            .form-group
              .col-sm-offset-2.col-md-offset-2.col-lg-offset-2.col-xs-offset-2.col-md-2.col-sm-2.col-lg-2
                =u.submit "Пригласить", class: "btn btn-primary", id: "invite_user"
      -else
        .accept_invitation_form
          %h4.text-left Приглашения присоедениться к организации
          -if @user.join_to
            =form_for(:invited_user, url: join_to_organization_path(@user.join_to), html: {role: "form", class: "form-horizontal"}) do |u|
              .form-group
                =u.label @organization.name, for: "accept_invitation", class: "control-label col-md-2 col-sm-2 col-lg-2"
                .col-md-2.col-sm-2.col-lg-2.col-xs-2
                  =u.submit "Принять", class: "btn btn-primary form-control", id: "accept_invitation"
                =link_to "Удалить приглашение", destroy_invitation_user_path(@user.id), class: "col-md-2 col-sm-2 col-lg-2", remote: true
          -else
            %p Приглашений нет
