= load_script "main", execute: "asCalendarHeight('#chat')"
= load_script "chat/index"
#chat
	- if has_organization? && no_alone?
		.chat__users-list
			%ul<
				Список контактов:
				= render( partial: "chats/shared/organization_user", collection: organization_users(:without_me), as: :user)
		.chat__chats-list
			.chats__headers
				.chat__header.chat__header--main.chat__header--active< Все
				.chat__scroll-headers.hide
					%span &#9668;
					%span &#9658;
			.chat__body
				Тут будут Ваши диалоги
	- else
		.chat__no-organization
			Не с кем вести диалог - пригласите пользователя в Вашу организацию.
