$main_color: #625A4F;

.comments_wrapper {
  position: relative;
  .hide_comments {
    height: 0;
    overflow: hidden;
  }
  .show_comments {
    height: auto;
    overflow: hidden;
  }
  .comments_container {
    border-top: 3px solid $main_color;
    background-color: $main_color;
    ul {
      margin: 0;
      padding-left: 0;
      border: 1px solid;
      border-radius: 10px;
      background: #E8E8E8;
      font-size: 90%;
      li {
        padding: 1.5% 2%;
        span {
          float:right;
          padding: 0 2%;
        }
      }
      li:first-child {
        border-radius: 4px 4px 0 0;
      }
      li:not(:last-child) {
        border-bottom: 1px solid grey;
      }
    }
  }
  .comments_toggle {
    background: $main_color;
    .glyphicon-plus {
      float: left;
    }
    span {
      cursor: pointer;
      font-size: 3.5vmin;
      line-height: 1.6;
      color: black;
    }
    span:hover {
      color: white;
    }
  }
}

.menu {
  position: absolute;
  bottom: 0;
  white-space: normal;
  span {
    cursor: pointer;
  }
  span:first-child {
    color: #449d44;
  }
  span:first-child:hover {
    color: green;
  }
  span:last-child:hover {
    color:black;
  }
}
.comment_field {
  display: inline-block;
  position: absolute; 
  top: 20px;
  left: 40px;
  opacity: 0.9;
  border-radius: 10px;
  background: #625A4F;
  white-space: normal;
  cursor: pointer;
  z-index: 2;
  h5 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 2.2vmin;
    font-weight: 800;
    border-radius: 10px; /* conflict */
    background: $main_color;
    color: black;
    span {
      float: right;
      position: relative;
      cursor: pointer;
      right: 8px;
    }
    span:hover {
      color: white;
    }
  }
  form {
    margin-bottom: 10px;
    textarea {
      padding: 10px;
      width: 100%;
      height: 100%;
      resize: vertical;
    }
    input[type="submit"] {
      border: 1px solid grey;
    }
  }
}
.hidden {
  display: none;
}
.visible {
  display: '';
}