@import "bootstrap-sprockets";
@import "bootstrap";

body {
}

@mixin main_list-group {
  font-size: 1.25vmax;
  position: relative;
  font-weight: bolder;
  border: 1px solid grey;
}
@mixin main_input_area_border($size: 2px) {
  input, select, textarea {
    border: $size solid grey;
  }
}

.container-fluid {
  background-color: rgb(45, 48, 44);
  #header {
    .header-logo a{
      color: white;
      text-decoration: none;
      text-shadow: 3px 3px 5px #597BAD;
    }
    .header-logo a:hover{
      color: #FF0707;
      text-decoration: none;
      text-shadow: 3px 3px 5px #597BAD;
    }
  }
}
.form_main_signin, .form_signup {
    color: white;
}
#wrapper_signed_container, #edit_user_container {
  width: 100%;
  margin-top: 2.2%;
  margin-bottom: 20px;
  background: #B9C9DA;
  overflow: hidden;
  border-radius: 15px;
  a {
    color: darkblue;
  }
}

#сontainer_create_org {
  padding: 20px;
  p {
  font-size: 2vmax;
  }
}
main {
  form {
    margin: 30px 0;
  }
  .about {
    margin: 50px 0;
    /*background: white;*/
    color: #D8CD45;
    .title {
      /*color: #D8CD45;*/
      font-size: 25px;
    }
    .description {
      text-align: left;
      padding: 0 20%;
      margin-top: 50px;
      font-size: 17px;
      span {
        color: #337ab7;
      }
      span.free {
        color: red;
      }
      ul {
        margin-top: 20px;
      }
    }
  }
}
#signed_container {
  margin: 2% 0;
  width: 100%;
  background: #B9C9DA;
  float: left;
  position: relative;
  left: 41.66%;
}
#calendar_wrapper {

background: #B9C9DA;
float: left;
position: relative;
left: -41.66%;
}
#content_wrapper {
float: left;
position: relative;
left: -41.66%;
background: #B9C9DA;
}

#signed_container {
  margin-top: 40px;
}

#header_calendar {
  border-radius: 15px 15px 0 0;
  background: #625A4F;
  border: 1px solid grey; 
}

.calendar_day_wrapper {
  padding: 0;
  width: 14.2857%;
  background: #E8E8E8;
  border: 1px solid grey;
  font-size: 1.25vmax;
  /*font-size: 1vmin;*/
  &.pr, &.next {
    background: #CEFFBC;
  }
  &:hover {
    background: #6ADA80;
    cursor: pointer;
  }
}
.highlight {
  background: #CCC;
  &.pr, &.next {
    background: #B1FB96;
  }
  &:hover {
    background: #8AF32C;
  }
}

.calendar_day_wrapper.clone {
  background: #6ADA80;
  border: 1pt solid black;
  border-radius: 7px;
  z-index: 1;
  a {
    display: block;
    margin: 1% auto;
    width: 80%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 85%;
    font-weight: bold;
  }
  a:hover {
    color: #F10D0D !important;
  }
}

.dummy {
  height: 0;
  padding-bottom: 60%;
  padding-top: 33%;
}
.calendar_day_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  padding: 5px;
}

.main_link_signup {
  line-height: 2.2;
  font-size: 1.2em;
}
.container-dropdown-month, .container-dropdown-year {
  left: -70px;
  border: 1px solid green;
  background: #D3D3D3;
}
.dropdown-togle-month, .dropdown-togle-year {
  border: 1px solid grey; 
}
.dropmenu-month, .dropmenu-year {
  margin: -10px;
  padding: 12px 12px; 
}
.list-month, .list-year {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.95em;
  font-weight: bold; 
  color: black;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
#edit_user_container {
  @include main_input_area_border(1px); 
  .avatar_form {
    margin-top: 2%;
    font-size: 90%;
    border-width: 1px;
    input[type='file'] {
      padding-left: 0;
      background-color: #5cb85c;
    }
    input[type="submit"] {
      margin-top: 2%;
    }
  }
  
}
#edit_user_invitation_container {
  min-height: 350px;
  padding: 0;
  border-left:  1px solid grey;
}
.accept_invitation_form, .invite_user_form {
    padding: 0; 
    font-size: 1.2vmax;
    h4 {
      margin-top: 0;
      padding: 3.1% 0 3% 12.4%;
      font-size: 1.7vmax;
      background: #FFFF77;
      border-bottom: 1px solid grey;
    }
    p {
      font-size: 1.5vmax;
    }
}
#profile_container {
  position: relative;
  left: 1px;
  min-height: 350px;
  padding: 0;
  border-right:  1px solid grey;
  h1, .personal_info_container {
    padding: 0 4.5%;
  }
  h1 {
    margin: 0;
    padding: 2% 5%;
    background: #FFFF77;
    border-bottom: 1px solid grey;
  }
  .personal_info_container {
    margin-top: 2%;
  }
}

.calendar_day_container span:nth-child(2) {
    margin-top: 12px !important;
}
.day_number {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 0.8em;
}
#man_task, #exec_task {
  display: block;
  width: 15%;
  margin: 0 auto;
  font:120% serif;
  font-weight: 900;
}
#man_task {
  color: #F10D0D;
}
#exec_task {
  color: blue;
}

.form_create_org {
  margin-top: 20px;
}
#task_container {
  border: 2px solid;
  border-radius: 6px;
  font-size: 1.25vmax;
  border-color: grey;
  overflow: hidden;
  .task_name {
    background: #625A4F;
    margin: 0;
    padding: 1% 1%;
    border-bottom: 1px solid grey;
    border-radius: 3.5px 3.5px 0 0;
    color: black;
  }
  .task_users {
    background: #E8E8E8;
    margin: 0;
    padding: 0 1%;
    border-bottom: 1px solid grey;
  }
  .task_manager {
    margin: 0;
    margin: 8px 0 -8px -15px;
    padding: 0;
  }
  .task_executor {
    margin: -16px 0 2px -15px;
    padding: 0;
  }

  .task_date_exec {
    /*padding: 0 5% 0 35%;*/
    margin-top: 8px;
    text-align: right;
    /*border-bottom: 1px solid black;*/
    .time {
      display: block;
      color: black;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
  .task_description_header {
    margin: 0 -15px;
    /*margin-top: -10px;*/
    padding: 1% 1%;
    border-bottom: 1px solid grey;
    font-size: 0.95em;
    background: #625A4F;
    color: black;   
  }
  .task_description_body {
    padding: 0 1% 4.5% 1%;
    min-height: 200px;
    background: #E8E8E8;
    white-space: pre-line;
    word-break: break-all;   
  }
}
#create_task_form_container, #edit_task_container, #filter_task_form {
      @include main_input_area_border 
}

#buttons_container {
  margin: 0px 5px 20px 5px;
  .back_to_tasks_group:hover .back_to_tasks {
      background: #E4A80C;
  }
  .back_to_tasks, .all_tasks, .to_home {
    background: #C89205;
    color: black !important;
    border-left: 1px solid darkgrey;
  }
  .all_tasks {
    top: 0;
  }
}
#day_tasks {
  .no_task_container {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    h3 {
      margin: 0;
    }
  }
  #manager_tasks .no_task_container  {
    background: #E0E0E0;
  }
  #executor_tasks .no_task_container, .no_task_container {
    background: #B1FB96;
  }

  .check_box_archived_tasks {
    display: inline-block;
    margin-left: 10px;
    padding: 2px 5px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 3px 3px 0 0; 
    color: black !important;
    font-size: 1.25vmax;
    a {
      text-decoration: none;
    }
  }

  .manager_tasks_list {
    background: #E0E0E0;
    &:hover {
      background: #BFBFBF;
    }
  }
  .executor_tasks_list {
    background: #B1FB96;
    &:hover {
      background: #98F377;
    }
  }
  .list-group-item {
    font-size: 1.25vmax;
    position: relative;
    font-weight: bolder;
    border: 1px solid grey;
    .task_name {
      position: relative;
      display: inline-block;
      left: 0;
    }
    a.task_name{
      text-decoration: none;
      color: #263344;
      &:hover {
        color: black;
      }
    }
    .task_date_exec {
      display: inline-block;
      float: right;
      margin: auto 0;
      position: relative;
      right: 0;
      vertical-align: middle;
      /*text-align: center;*/
      font-weight: normal;
      font-size: 0.9em;
      & a:last-child {
        color: #D81919;
      }

      a {
        float: right;
        margin: 0 2%;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
    }
  }
  #manager_tasks, #manager_tasks_of_day, #filter_tasks {
    .task_name {
      width: 65%;
    }
    .task_date_exec {
      width: 32%;
    }
  }
  #executor_tasks, #executor_tasks_of_day {
    .task_name {
      width: 70%;
    }
    .task_date_exec {
      width: 25%;
    }
  }
}
.pagination {
  margin: 10px 0;
}
#task_handle_form {
  .handler_button_container {
  	display: inline-block;
    margin-top: 0.5%;
    margin-left: -15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 5px;
  }
}
.flash-list {
  position: absolute;
  top: 10px;
  left: -30%;
  z-index: 1;
}
#filter_task_form {
  margin-top: 15px;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
#all_news_container {
  max-height: 350px;
  overflow-y: auto;
  /*background: grey;*/
  /*border: 1px solid grey;
  border-radius: 5px;*/
  li {
    @include main_list-group
  }
  .no_news_container {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    background: #E0E0E0;
    h3 {
      margin: 0;
    }
  }
}
.news_item {
  cursor: pointer;
}
.news_item:hover {
  border-color: red !important;
}
.news_date {
  display: inline-block;
  float: right;
  margin: auto 0;
  position: relative;
  right: 0;
  vertical-align: middle;
  /*text-align: center;*/
  font-weight: normal;
  font-size: 0.9em;
}
.alert-danger {
  margin-bottom: 10px;
}