@import "bootstrap-sprockets";
@import "bootstrap";

.calendar_day_wrapper {
	/*margin: 0 auto;*/
	width: 14.2857%;
	background: #D3D3D3;
	border: 1px solid grey;
	&.pr, &.next {
		background: #B5B5B5;
	}
	&:hover {
		background: orange;
	}
}
.calendar_day_wrapper.clone {
	background: yellow;
	border: 1pt solid black;
}
.calendar_day_container {
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
}

.main_link_signup {
	line-height: 2.2;
	font-size: 1.2em;
}